body{
    font-family: Kanit;
    background-color: black;

}

h1 {
    font-weight: 1000;
    margin: 2rem auto;
    font-size: clamp(3.5vw, 2.7rem, 4.5rem);
    text-align: center;
    z-index: 998;
    max-width: 900px;
    mix-blend-mode: difference;
    pointer-events: none;
    color: #f0f0f0;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:grid;
    place-items: center;
  }
