body {
    font-family: "Termina", sans-serif;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.titre {
    font-family: "Termina", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.form-style {
    padding: 13px 20px;
    padding-left: 40px;
    height: 48px;
    width: 90%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #cecece;
    background-color: #29241f;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: orange;
}

.form-group input::-webkit-input-placeholder {
    color: #cecece;
    opacity: 0.7;
    transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
    color: #cecece;
    opacity: 0.7;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
    color: #cecece;
    opacity: 0.7;
    transition: all 200ms linear;
}

.form-group input::placeholder {
    color: #cecece;
    opacity: 0.7;
    transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder,
.form-group input:focus::-moz-placeholder,
.form-group input:focus:-ms-input-placeholder,
.form-group input:focus::placeholder {
    opacity: 0;
    transition: all 200ms linear;
}

.btn {
    margin: 0 auto;
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: orange;
    color: #000000;
    box-shadow: 0 8px 24px 0 rgba(255, 166, 0, 0.185);
}

.btn:active,
.btn:focus {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 10px 24px 0 rgba(255, 166, 0, 0.171);
}

.btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.418);
}

.btn-2 {
    margin: 0 auto;
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.671);
    color: #000000;
    box-shadow: 0 8px 24px 0 rgba(107, 107, 107, 0.185);
}

.btn-2:active,
.btn-2:focus {
    background-color: #000000;
    color: white;
}

.btn-2:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #0e0e0e;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.144);
}

.error-message {
    font-weight: 600;
    display: block;
    margin-top: 5px;
    color: orange;
    font-size: 14px;
}

p {
    color: white;
}
