body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: black;
}

.title-1{
    font-size: 1.7vw;
    text-align: left;
    top: 1%;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;

}
